<a href="#" class="logo">Tabon</a>

<form action="/profile/edituserprofile" method="POST">
  <label for="edit-profile">Edit Your User's Profile</label>
  <br>

  <label for="firstname">First Name</label>
  <input type="text" id="firstname" name="firstname">
  <br>

  <label for="lastname">Last Name</label>
  <input type="text" id="lastname" name="lastname">
  <br>

  <label for="aboutme">About Me</label>
  <textarea id="aboutme" name="aboutme">
  <br>

   <label for="project">Project</label>

   <label for="projectheader">Your project's name</label>
  <input type="text" id="projectheader" name="projectheader">
  <br>

  <label for="projectdescription">Tell us more about your project</label>
  <textarea name="projectdescription" id="projectdescription"></textarea>
  <br>

  <label for="uploadproject">Upload your project</label>
  <input type="file" id="uploadproject" name="uplpadproject" accept="image/png, image/jpeg">

  <label for="uploadresume">Upload your resume</label>
  <input type="file" id="uploadresume" name="uploadresume" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">




  <button type="submit">Done</button>
</form>