<div class="logo">

    <h1>Tabon</h1>

    <div class="create-profile">

            <div class="select-usertype">
                <label for="user_type">Are you a job seeker or looking to hire?</label>
                <div id="user_type">
                    <label for="typeUser">Job Seeker</label>
                    <input type="radio" id="typeUser" name="user_type" value="user">
                    <label for="typeCompany">Looking to Hire</label>
                    <input type="radio" id="typeCompany" name="user_type" value="company">
                </div>
            </div>
        
            <div id="userForm" style="display:none">
                <form action="/profile/createprofile" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="user_type" value="user">
                    <div class="input">
                        <div>
                            <label for="firstname" class="input-label">First Name</label>
                        </div>
                        <input type="text" id="firstname" name="firstname" required>
                    </div>
            
                    <div class="input">
                        <div><label for="lastname" class="input-label">Last Name</label></div>
                        <input type="text" id="lastname" name="lastname" required>
                    </div>
            
                    <div class="input">
                        <div><label for="aboutme" class="input-label">Tell us a little bit about yourself</label></div>
                        <textarea id="aboutme" name="aboutme" class="form-textarea" required></textarea>
                    </div>
            
                    <label for="project">Tell us about 1 project that you are proud of</label>
                    <div id="project">

                        <div class="input">
                            <div><label for="projectheader" class="input-label">Name</label></div>
                            <input type="text" id="projectheader" name="projectheader" required>
                        </div>

            
                        <div class="input">
                            <div><label for="projectdescription" class="input-label">Provide more details below:</label></div>
                            <textarea name="projectdescription" id="projectdescription" class="form-textarea" required></textarea>
                        </div>
            
                        <label for="uploadproject">Upload up to 3 pictures from your project</label>
                        <div id="uploadproject">
                            <input type="file" name="projectpic1" accept="image/png, image/jpeg" class="uploadprojectpic">
                            <input type="file" name="projectpic2" accept="image/png, image/jpeg" class="uploadprojectpic">
                            <input type="file" name="projectpic3" accept="image/png, image/jpeg" class="uploadprojectpic">
                        </div>
                    </div>

                    <div class="submit-button createprofile-button">
                        <button type="submit">Create User</button>
                    </div>
                </form>
            </div>
        
            <div id="companyForm" style="display:none">
                <form action="/profile/createprofile" method="POST" enctype="multipart/form-data">

                    <div class="input">
                        <div><label for="companyname" class="input-label">Company Name</label></div>
                        <input type="text" id="companyname" name="companyname" required>
                    </div>
            
                    <div class="input">
                        <div><label for ="companydescription" class="input-label">Give a description of your company</label></div>
                        <textarea id="companydescription" name="companydescription" class="form-textarea" required></textarea>
                    </div>
            
                    <div class="input">
                        <div><label for ="companywebsite" class="input-label">Company Website</label></div>
                        <input type="text" id="companywebsite" name="companywebsite" required>
                    </div>
            
                    <div class="input">
                        <div><label for="headcount" class="input-label">Number of Employees</label></div>
                        <input type="number" id="headcount" name="headcount" class="number-input" required>
                    </div>

                    <div class="input">
                        <div><label for="companyremote" class="input-label">Workplace Type</label></div>
                        <select id="companyremote" name="companyremote" required>
                            <option disabled selected value> Select an Option </option>
                            <option value = "On-site">On-site</option>
                            <option value = "Remote">Remote</option>
                            <option value = "Hybrid">Hybrid</option>
                        </select>
                    </div>

                    <label for="aboutus">Tell us something unique about your company</label>
                    <div id="aboutus">
                        
                        <div class="input">
                            <div><label for="aboutusheader" class="input-label">Header</label></div>
                            <input type="text" id="aboutusheader" name="aboutusheader">
                        </div>
                        
                        <div class="input">
                            <div><label for="aboutusdescription" class="input-label">Description</label></div>
                            <textarea id="aboutusdescription" name="aboutusdescription" class="form-textarea"></textarea>
                        </div>
                    </div>

                    <div class="submit-button createprofile-button">
                        <button type="submit">Create Company</button>
                    </div> 
                </form>               
            </div>
        </form>
    </div>
</div>


<script src="/createprofile.js"></script>