<form action="/profile/createusername" method="POST">
    <label for="username">Select a username for your account</label>
    <br>
    <input type="text" id="username" name="username">
    <br>
    <button type="submit">Submit</button>
</form>