<h3>Post something here:</h3>

<form action="/posts/createpost" method="POST" enctype="multipart/form-data">
    <label for="posttitle">Post Title:</label>
    <br>
    <input type="text" name="posttitle" id="posttitle" required>
    <br>

    <label for="postsummary">Give your post a short summary:</label>
    <br>
    <textarea id="postsummary" name="postsummary" required></textarea>
    <br>

    <label for="postdescription">Write your full post here:</label>
    <br>
    <textarea id="postdescription" name="postdescription" required></textarea>
    <br>

    <label for="postpic">Upload a picture to accompany your post</label>
    <br>
    <input type="file" name="postpic" accept="image/png, image/jpeg">
    <br>
    
    <button type="submit">Post!</button>
</form>