<h1 class="page-header">Signup to Tabon here</h1>

<div id="form-container">
    <form action="/auth/signup" method="POST" id="signup-form">
        <label for="username">Username</label> <br>
        <input type="text" id="username" name="username" required>
        <br>

        <label for="password" class="form-label">Password</label> <br>
        <input type="password" id="password" name="password" required>

        <br>

        <label for="email" class="form-label">Email</label> <br>
        <input type="text" id="email" name="email" required>

        <br>
        <br>

        <button type="submit">Create User</button>
    </form>

    <br>
    <br>
    <br>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="766503252879-acses2et0cque9g9aik1eiioari85si6.apps.googleusercontent.com"
        data-login_uri="/auth/google"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
        data-width="100">
    </div>

    {{!-- <a href="/auth/google">Sign up with google</a> --}}

    <p>Already have an account? <a href="/auth/login">Sign in</a></p>
</div>