.job-pages {
    width: 80%;
    margin: 5rem auto 0;
}

.company-jobs-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.jobs-buttons {
    display: flex;
    justify-content: start;
    margin-bottom: 3rem;
}

.listed-jobs {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.opaque {
    text-decoration: none;
    color: #A5A5A5;
    font-weight: 600;
    font-size: 1.3rem;
}

.right {
    margin-left: 3rem;
}

#postjob-button a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 0.3rem;
    padding: 0.4rem 1.5rem;
}

.jobcontainer {
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    padding: 1.7rem;
}

.small-logo {
    height: 4rem;
    width: 4rem;
}

.small-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.top-text {
    font-weight: 700;
    margin-bottom: 0.7rem;
}

.more-info a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    margin-right: 6rem;
}

.create {
    width: 80%;
    margin: 5rem auto 0;
}

.post-text {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.post-subtext {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 1.5rem;
}

.post-question {
    margin: 1rem 0;
}

.post-form-label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.asterisk {
    color: red;
}

.post-question input {
    border-radius: 0.3rem;
    width: 80ch;
    /* input border seems bolder when adding border-radius */
    /* border: 0.2px solid black; */
}
.post-question select {
    width: 80ch;
    height: 2rem;
    border-radius: 0.3rem;
}

.post-question textarea {
    width: 80ch;
    height: 10rem;
    border-radius: 0.3rem;
}

.submit {
    border-radius: 0.5rem;
    background: #4286F5;
    border: none;
    padding: 0.1rem 1.3rem;
    color: white;
    margin: 1rem 0;
}

#rejectbutton {
    background: lightcoral;
    /* border: 1px solid black; */
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    margin-right: 6rem;
    color: white;
    position: relative;
    bottom: 1.5rem;
}

#rejected {
    color: red;
    padding: 0.4rem 1rem;
    margin-right: 5.4rem;
}

.jobdescription {
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
}