* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 100%;
  text-align: center;
  margin-top: 4%;
}

.logo a {
    text-decoration: none;
    color: black;
    letter-spacing: 5px; 
    font-size: 19px;
}

.action {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 40px;
}

.action .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid black;
  width: 200px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action .menu ::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
 
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 400;
  font-size: 16px;
  color: #1e1d1d;
  line-height: 1.2em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 400;
}

.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li a:hover {
  color: #333;
}

.profilepicture {
  margin-top: 8%;
  /* margin-left: 5%; */
  margin-bottom: 2%;
  position: relative;
  width: 150px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
 }

 .fullName {
  font-size: 18px;
  display: flex;
  margin-left: 100px;
  margin-top: 8px;
 }

 .userName{
  font-size: 13px;
  margin-left: 100px;
  margin-top: 8px;
  color: #1e1d1d;
 }

 .email {
  font-size: 13px;
  color: #8e8e8e;
  margin-left: 100px;
  margin-top: 8px;
 }

 .edit-btn a, .post-btn a{
  text-decoration: none;
  color: black;
  font-size: 13px;
 }

 .edit-btn, .post-btn {
  border-radius: 15px;
  border: black 1px solid;
  background-color: white;
  font-weight: 600;
  padding: 6px 20px;
  margin-top: 8px;
 }

 .edit-btn:hover, .post-btn:hover{
  background-color: #8e8e8e;
 }

 .about, .project{
  margin-left: 100px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
 }

.description {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}

.resume-pic {
  margin-left: 100px;
  margin-top: 20px;
  width: 100px;
}

/* Center align the form */
form {
  text-align: center;
  
}

/* Style the form title */
h4 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 70px;
}

/* Style the labels */
label {
  display: block;
  margin-top: 20px;
}

#profilepic {
    margin-left: 150px;
}
/* Style the file input */
input[type="file"] {
  margin-top: 10px;
}

/* Style the text inputs and textareas */
input[type="text"],
textarea {
  width: 300px;
  padding: 5px;
  margin-top: 5px;
}

/* Style the project section */
#project {
  margin-top: 20px;
}

/* Style the project text inputs and textareas */
#project input[type="text"],
#project textarea {
  width: 300px;
  padding: 5px;
  margin-top: 5px;
}

/* Style the project file inputs */
#project input[type="file"] {
  margin-top: 5px;
  margin-left: 100px;
}

/* Style the save button */
button[type="submit"] {
  margin-top: 60px;
  padding: 5px 20px;
  background-color: #4286F5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

button[type="submit"]:hover {
  background-color: grey;
}

#project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uploadproject {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadprojectpic {
  margin: 0.3rem 0;
}

.labelname {
  margin-right: 210px;
  font-weight: 500;
}

.projectlabel1 {
  margin-right: 130px;
  font-weight: 500;
}

.projectlabel2 {
  margin-right: 50px;
  font-weight: 500;
}

#uploadresume {
  margin-left: 150px;
}

.companyrow {
  display: flex;
  margin: 50px 0;
}

.companyinfo {
  width: 70%;
}
.aboutcompany {
  margin-left: 16.5%;
}

.companybuttons {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

.companyjobs {
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  width: 100%;
}

.individualjob {
  width: 30%;
  margin-right: 16%
}

.companypara {
  font-size: 16px;
  line-height: 1;
  margin-top: 30px;
}

.companytitle {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}
.companyabout {
  margin-top:50px;
  font-size: 23px;
}

/* .openroletitle {
  font-size: 19px;
  line-height: 1;
  font-weight: 500;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

/* .openroles {
  margin: 10px;
  width: 40%;
  text-align: center;
} */

.openroletitle {
  font-size: 16px;
  font-weight: 500;
}

.openrolepara {
  font-size: 16px;
  /* line-height: 0.5; */
  margin-top: 20px;
  font-weight: 400;
}


.openrolebtn {
  font-size: 13px;
  line-height: 0.5;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
  border: black 1px solid;
  background-color: white;
  font-weight: 600;
  padding: 6px 20px;
  padding-top: 12px;
  padding-bottom: 12px;

}

.openrolebtn:hover {
  background-color: #333;
  color: white;
}

.jobtitle {
  font-size: 20px;
  margin-top: 80px;
}

.jobdetails {
  text-align: center;
}

.jobabout {
  margin-top: 20px;
  line-height: 2;
}

.companydescription {
  margin-left: 5%;
}

#companylogo{
  margin-left: 30px;
}

.home {
  margin: 0 auto;
  max-width: 85.5%;
}

.card-title {
  margin: 0px;
}

.job-title {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.jobinfo {
  height: 100px;
  overflow: hidden;
}

.pagecontainer {
  width: 80%;
  margin: 0 auto;
}