
.job-pages {
    width: 80%;
    margin: 5rem auto 0;
}

.company-jobs-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.jobs-buttons {
    display: flex;
    justify-content: start;
    margin-bottom: 3rem;
}

.listed-jobs {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.opaque {
    text-decoration: none;
    color: #A5A5A5;
    font-weight: 600;
    font-size: 1.3rem;
}

.right {
    margin-left: 3rem;
}

#postjob-button a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 0.3rem;
    padding: 0.4rem 1.5rem;
}

.jobcontainer {
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    padding: 1.7rem;
}

.small-logo {
    height: 4rem;
    width: 4rem;
}

.small-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.top-text {
    font-weight: 700;
    margin-bottom: 0.7rem;
}

.more-info a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    margin-right: 6rem;
}

.create {
    width: 80%;
    margin: 5rem auto 0;
}

.post-text {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.post-subtext {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 1.5rem;
}

.post-question {
    margin: 1rem 0;
}

.post-form-label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.asterisk {
    color: red;
}

.post-question input {
    border-radius: 0.3rem;
    width: 80ch;
    /* input border seems bolder when adding border-radius
    border: 0.2px solid black; */
}
.post-question select {
    width: 80ch;
    height: 2rem;
    border-radius: 0.3rem;
}

.post-question textarea {
    width: 80ch;
    height: 10rem;
    border-radius: 0.3rem;
}

.submit {
    border-radius: 0.5rem;
    background: #4286F5;
    border: none;
    padding: 0.1rem 1.3rem;
    color: white;
    margin: 1rem 0;
}

#rejectbutton {
    background: lightcoral;
    /* border: 1px solid black; */
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    margin-right: 6rem;
    color: white;
}

#rejected {
    color: red;
    padding: 0.4rem 1rem;
    margin-right: 5.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 100%;
  text-align: center;
  margin-top: 4%;
}

.logo a {
    text-decoration: none;
    color: black;
    letter-spacing: 5px; 
    font-size: 19px;
}

.action {
  position: fixed;
  top: 30px;
  right: 40px;
}

.action .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid black;
  width: 200px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action .menu ::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
 
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 400;
  font-size: 16px;
  color: #1e1d1d;
  line-height: 1.2em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 400;
}

.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li a:hover {
  color: #333;
}